#smileyFace {
    height: 150px;
    width: 150px;
    margin-bottom: 25px;
}


body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    background-color: coral;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    place-items: center;
}

button {
    padding: 10px 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    background-color: #f9dc28;
    border-radius: 20px;
    border-width: 5px;
}

#reloadWebpageButton {
    margin-bottom: 60px;
}

#poweredBy {
    font-size: 14px;
}